
nerf_synthetic/*
.env/*
outputs/*
logs/*
*/__pycache__/*
.env/
external_code/nerfstudio/nerfstudio.egg-info/
external_code/gsplat/gsplat.egg-info/
src/__pycache__/
outputs/
*.pyc

Paper Images/*
data/*
test*/*
cgv_notes/*
conductor/*
*/node_modules/*
garden
web_assets